@import url('https://fonts.googleapis.com/css2?family=Inter&family=Passion+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

body{
    overflow-x: hidden;
}

:root {
    --water: #4592c4;
    --fire: #fd7d24;
    --grass: #9bcc50;
    --electric: #eed535;
    --ice: #51c4e7;
    --fighting: #d56723;
    --poison: #b97fc9;
    --ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    --psychic: #f366b9;
    --bug: #729f3f;
    --rock: #a38c21;
    --ghost: #34495e;
    --steel: #9eb7b8;
    --flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    --dark: #707070;
    --dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    --fairy: #fdb9e9;
    --normal: #a4acaf;
  }
  
  /* Classes que alteram o plano de fundo para cada tipo */
  .water {
    background-color: var(--water);
    color: white;
  }
  
  .fire {
    background-color: var(--fire);
    color: white;
  }
  
  .grass {
    background-color: var(--grass);
    color: white;
  }
  
  .electric {
    background-color: var(--electric);
    color: black;
  }
  
  .ice {
    background-color: var(--ice);
    color: black;
  }
  
  .fighting {
    background-color: var(--fighting);
    color: white;
  }
  
  .poison {
    background-color: var(--poison);
    color: white;
  }
  
  .ground {
    background: var(--ground);
    color: black;
  }
  
  .psychic {
    background-color: var(--psychic);
    color: white;
  }
  
  .bug {
    background-color: var(--bug);
    color: white;
  }
  
  .rock {
    background-color: var(--rock);
    color: black;
  }
  
  .ghost {
    background-color: var(--ghost);
    color: white;
  }
  
  .steel {
    background-color: var(--steel);
    color: black;
  }
  
  .flying {
    background: var(--flying);
    color: black;
  }
  
  .dark {
    background-color: var(--dark);
    color: white;
  }
  
  .dragon {
    background: var(--dragon);
    color: white;
  }
  
  .fairy {
    background-color: var(--fairy);
    color: black;
  }
  
  .normal {
    background-color: var(--normal);
    color: black;
  }  

/*Cabeçalho completo*/
#cabecalho{
    background-image: url('../images/fundoHeaderBlue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    border-bottom: 5px solid #6F6F6F;
}

#imagens-logo-site{
    width: 280px; 
}

#pokebol-logo{
    width: 120px;
}

#box-images-logo{
    margin: auto;
}

/*Menu de Navegação Superior*/
#nav-pokemons{
    width: 100%;
    height: 90px;
    background-color: #F1F1F1;
    display: flex;
}

#box-content-nav{
    margin: auto;
    width: 1100px;
    height: 100%;
}

#box-pesquisa{
    position: relative;
    top: -55px;
    float: right;
}

#box-input-pesquisa{
    width: 350px;
    height: 35px;
    border: 2px solid #C5C5C5;
    padding: 4px;
    border-radius: 30px;
}

#box-pesquisa > p{
    margin-bottom: 3px;
    font-size: 12pt;
    font-weight: bolder;
    position: relative;
    left: 180px;
}

#input-pesquisa{
    height: 30px;
    float: left;
    padding: 3px;
    padding-left: 10px;
    border-radius: 35px;
    width: 85%;
    margin-right: 3px;
    border: none;
}

#input-pesquisa::placeholder{
    color: #c3c3c3;
    font-size: 11pt;
}

#btn-done-input{
    width: 35px;
    height: 35px;
    border: none;
    background-color:  lightgray;
    border-radius: 20px;
    color: #C5C5C5;
    transition: 0.5s;
}

#btn-done-input:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(187, 187, 187);
}

#box-prancheta-caption{
    display: flex;
    width: 110px;
    position: relative;
    top: 12px;
}

#box-prancheta-caption > figcaption{
    margin: auto;
    font-weight: bolder;
}

#select-mode-color{
  position: absolute;
  top: -15px;
  margin: 5px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#select-mode-color > option{
  color: black;
}

/*Área Pokemon*/
#box-all{
    width: 100%;
    padding: auto;
    min-height: 700px;
}

#box-pokemons{
    width: 100%;
    padding: 8px;
    padding-left: 28px;
    list-style: none;
    margin: 0 auto;
}

#box-pokemons > li{
    width: 160px;
    height: 210px;
    background-color: #F1F1F1;
    border-radius: 20px;
    display: inline-block;
    margin-right: 19px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

#container-img-pokemon{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #D7D7D7;
    border-radius: 20px;
}

#container-information-pokemon{
    padding: 7px;
}

#container-information-pokemon > button{
    width: 60px;
    padding: 2px;
    border-radius: 8px;
    margin-right: 5px;
    margin-top: 4px;
    border: none;
}

#btn-load-more{
    float: right;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-weight: bolder;
    background-color: #3BA7E4;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    border: none;
    font-size: 12pt;
    color: white;
    margin-right: 15px;
    margin-bottom: 10px;

}

#container-pokemons-and-btnload{
  margin: 0 auto;
  width: 1100px;
  min-height: 100%;

}

/*Rodapé*/
#rodape{
    display: flex;
    width: 100%;
    text-align: center;
    clear: both;
    height: 90px;
    background-color: #3BA7E4;
}

#rodape > span{
    margin: auto;
    color: white;
}

#rodape > span > p{
    margin-bottom: 8px;
}


#rodape > span > p > a{
    text-decoration: none;
    color: blue;
    font-weight: bolder;
}

#rodape > span > p > a:hover{
    text-decoration: underline;
}